<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">
<th:block layout:fragment="head_title">
    <title> Boot Demo 7 | Main </title>
</th:block>
<body>
    <div layout:fragment="content">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                main
            </li>
        </ol>

        메인 페이지
    </div>
</body>
</html>