<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">
<th:block layout:fragment="head_title">
    <title> Boot Demo 7 | List </title>
</th:block>
<body>
    <div layout:fragment="content">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">article</a>
            </li>
            <li class="breadcrumb-item active">list</li>
        </ol>

        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fas fa-table"></i> 게시물 리스트</h3>
                <a class="btn btn-success float-right" th:href="@{/article/write}" role="button"><i class="fas fa-edit"></i> 글쓰기</a>
            </div>
            <div class="card-body" th:with="result=${result.result}">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th style="width: 60px">번호</th>
                            <th scope="col">제목</th>
                            <th style="width: 120px">작성자</th>
                            <th style="width: 200px">작성일자</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article:${result.content}">
                            <th scope="row">[[${article.articleNo}]]</th>
                            <td>[[${article.title}]]</td>
                            <td>[[${article.writer}]]</td>
                            <td>[[${article.regDate}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <select class="custom-select" id="searchType" style="width: 120px">
                                    <option>----</option>
                                    <option value="t" th:selected="${pageVO.type} == 't'">제목</option>
                                    <option value="c" th:selected="${pageVO.type} == 'c'">내용</option>
                                    <option value="w" th:selected="${pageVO.type} == 'w'">작성자</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" id="searchKeyword" th:value="${pageVO.keyword}">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-success btn-flat" id="searchBtn"><i class="fa fa-search"></i> 검색</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="pagination justify-content-end">
                            <li class="page-item" th:if="${result.prevPage}">
                                <a class="page-link" th:href="${result.prevPage.pageNumber} + 1">
                                    [[${result.prevPage.pageNumber} + 1]]
                                    <i class="fa fa-chevron-left"></i> 이전
                                </a>
                            </li>
                            <li class="page-item"
                                th:classappend="${p.pageNumber == result.currentPageNum - 1} ? active : '' "
                                th:each="p:${result.pageList}">
                                <a class="page-link" th:href="${p.pageNumber} + 1">[[${p.pageNumber} + 1]]</a>
                            </li>
                            <li class="page-item" th:if="${result.nextPage}">
                                <a class="page-link" th:href="${result.nextPage.pageNumber} + 1">
                                    다음 <i class="fa fa-chevron-right"></i> [[${result.nextPage.pageNumber} + 1]]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <form id="form" th:action="@{/article/list}" method="get">
                    <input type="hidden" name="page" th:value="${result.currentPageNum}">
                    <input type="hidden" name="size" th:value="${result.currentPage.pageSize}">
                    <input type="hidden" name="type" th:value="${pageVO.type}">
                    <input type="hidden" name="keyword" th:value="${pageVO.keyword}">
                </form>
            </div>

        </div>
    </div>

    <th:block layout:fragment="script">

        <script th:inline="javascript">

            $(window).on('load', function () {

                var msg = [[${msg}]];

                if (msg == "write success") {
                    alert("정상적으로 게시물이 작성 되었습니다.");
                    var stateObj = {msg: ""};
                } else if (msg == "delete success") {
                    alert("정상적으로 게시물이 삭제 되었습니다.");
                }

            });

            $(document).ready(function () {
                
                var formObj = $("#form");

                $(".pagination a").click(function (e) {
                    e.preventDefault();
                    formObj.find('[name="page"]').val($(this).attr('href'));
                    formObj.submit();
                });
                
                $("#searchBtn").click(function (e) {

                    var typeStr = $("#searchType").find(":selected").val();
                    var keywordStr = $("#searchKeyword").val();

                    console.log(typeStr, " - ", keywordStr);

                    formObj.find("[name='type']").val(typeStr);
                    formObj.find("[name='keyword']").val(keywordStr);
                    formObj.find("[name='page']").val(1);

                    formObj.submit();
                })
            });

        </script>

    </th:block>
</body>
</html>