<!doctype html>
<html class="no-js"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="head_title">
    <title> Boot Demo 9 | Read </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
</th:block>

<body>

<div class="page-title-area" layout:fragment="page_title">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">조회 페이지</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a>article</a></li>
                    <li><span>read</span></li>
                </ul>
            </div>
        </div>
        <div th:replace="fragments/profile::profile"></div>
    </div>
</div>

<div layout:fragment="content">
    <div class="row">

        <div class="col-lg-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">[[${article.title}]]</h4>
                    <hr/>
                    <div style="min-height: 500px">
                        <div th:remove="tag" th:utext="${article.content}"></div>
                    </div>
                    <hr/>
                    <div class="member-box">
                        <div class="s-member">
                            <div class="media align-items-center">
                                <img src="/assets/images/team/team-author1.jpg" class="d-block ui-w-30 rounded-circle" alt="">
                                <div class="media-body ml-5">
                                    <p style="font-size: 15px"><a href="#">[[${article.writer}]]</a></p>
                                    <span style="font-size: 13px">
                                        <i class="fa fa-clock-o"></i>
                                        작성 : [[${#dates.format(article.createDate, 'yyyy-MM-dd HH:mm')}]] /
                                        수정 : [[${#dates.format(article.updateDate, 'yyyy-MM-dd HH:mm')}]]
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <div class="float-left">
                        <a class="btn btn-primary btn-xs"
                           th:href="@{/article/list(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword}, articleNo=${article.articleNo})}"
                           role="button">
                            <i class="fa fa-list"></i> 목록
                        </a>
                        <a class="btn btn-primary btn-xs"
                           th:href="@{/article/read(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword}, articleNo=${article.articleNo - 1})}"
                           role="button">
                            <i class="fa fa fa-chevron-left"></i> 이전글
                        </a>
                        <a class="btn btn-primary btn-xs"
                           th:href="@{/article/read(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword}, articleNo=${article.articleNo + 1})}"
                           role="button">
                            다음글 <i class="fa fa fa-chevron-right"></i>
                        </a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <div class="float-right" th:with="memberName=${#authentication.principal.member.memberName}">
                            <a class="btn btn-primary btn-xs"
                               th:if="${memberName} eq ${article.writer}"
                               th:href="@{/article/modify(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword}, articleNo=${article.articleNo})}"
                               role="button">
                                <i class="fa fa-edit"></i> 수정 / 삭제
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mt-5">
            <div sec:authorize="isAnonymous()">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">댓글 작성</h4>
                        <hr/>
                        <p><a class="btn btn-outline-primary btn-xs" id="loginBtn" href="/member/login" role="button"><i class="fa fa-sign-in"></i> 로그인</a> 한 사용자만 댓글 작성이 가능합니다.</p>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">댓글 작성</h4>
                        <hr/>
                        <div class="form-group">
                            <textarea class="form-control" id="newReply" name="content"></textarea>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<input class="form-control" id="writer" type="text" name="writer">-->
                        <!--</div>-->
                        <hr/>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-xs float-right" id="replyAddBtn"><i
                                    class="fa fa-save"></i> 댓글 저장
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">댓글 목록</h4>
                    <hr/>
                    <div class="replies">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<th:block layout:fragment="script">

    <script th:inline="javascript" th:src="@{/assets/js/reply.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <script th:src="@{/assets/js/summernote-ko-KR.js}"></script>


    <script th:inline="javascript">

        $(window).on('load', function () {

            var msg = [[${msg}]];

            if (msg == "modify success") {
                alert("정상적으로 게시물이 수정 되었습니다.");
                var stateObj = {msg: ""};
            }

        });

        $(document).ready(function (e) {

            $("#loginBtn").click(function (e) {
                e.preventDefault();
                self.location = [[@{/member/login}]]+"?destination=" + encodeURIComponent(self.location);
            });

            $("#newReply").summernote({
                lang: 'ko-KR',
                placeholder: "댓글을 입력해주세요",
                tabsize: 2,
                height: 200
            });

            (function () {
                replyManager.getAll([[${article.articleNo}]], printList)
            })();
            
            function printList(list) {
                console.log(list);
                var str = "";
                var replyObj;
                for (var i = 0; i < list.length; i++) {
                    replyObj = list[i];
                    str += "<div class=\"reply\">\n" +
                        "    <div class=\"member-box\">\n" +
                        "        <div class=\"s-member\">\n" +
                        "            <div class=\"media align-items-center\">\n" +
                        "                <img src=\"/assets/images/team/team-author1.jpg\" class=\"d-block ui-w-30 rounded-circle\" alt=\"\">\n" +
                        "                <div class=\"media-body ml-5\">\n" +
                        "                    <p style=\"font-size: 15px\"><a class=\"replyWriter\" href=\"\">" + replyObj.writer + "</a></p>\n" +
                        "                    <span style=\"font-size: 13px\">\n" +
                        "                        <i class=\"fa fa-clock-o\"></i>\n" +
                        "                           작성 : " + formatDate(replyObj.createDate) + " / 수정 : " + formatDate(replyObj.updateDate) +
                        "                    </span>\n" +
                        "                </div>\n" +
                        "                <div class=\"dropdown\">\n" +
                        "                    <button class=\"btn btn-flat btn-danger btn-xs dropdown-toggle\" type=\"button\" id=\"dropdownMenuButton1\" data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">\n" +
                        "                        <i class=\"fa fa-cog\"></i>\n" +
                        "                    </button>\n" +
                        "                    <div class=\"dropdown-menu\" aria-labelledby=\"dropdownMenuButton\">\n" +
                        "                        <a class=\"dropdown-item\" id=\"modBtn\" href=\"#\">수정</a>\n" +
                        "                        <a class=\"dropdown-item\" id=\"delBtn\" href=\"#\">삭제</a>\n" +
                        "                    </div>\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "        </div>\n" +
                        "    </div>\n" +
                        "    <div class='contentBody' style=\"height: auto\">\n" +
                        "         " + replyObj.content +
                        "    </div>\n" +
                        "    <div class=\"form-group\">\n" +
                        "       <input class=\"form-control\" id=\"replyNo\" type=\"hidden\" name=\"replyNo\" value=\"" +replyObj.replyNo + "\"/>\n" +
                        "    </div>\n" +
                        "    <div class=\"form-group btnArea\">\n" +
                        "    </div>\n" +
                        "</div>\n" +
                        "<hr/>";

                }
                $(".replies").html(str);
            }

            // 시간 포맷 변환
            function formatDate(timeValue) {
                var date = new Date(timeValue);
                return date.getFullYear()
                    + "-" + (date.getMonth() + 1 >= 10 ? date.getMonth() + 1 : '0' + (date.getMonth() + 1))
                    + "-" + date.getDate()
                    + " " + date.getHours()
                    + ":" + date.getMinutes();
            }

            var memberName =[[${#authentication.principal} eq 'anonymousUser'? null :${#authentication.principal.member.memberName}]];
            var csrf = JSON.parse('[[${_csrf}]]');

            // 댓글 추가
            var articleNo = [[${article.articleNo}]];
            var replyContentObj = $("textarea[name='content']");
            var replyWriterObj = $("input[name='writer']");

            // 댓글 추가 처리
            $("#replyAddBtn").click(function () {
                if (confirm("댓글을 저장 하시겠습니까")) {
                    var content = replyContentObj.val();
                    var writer = memberName;
                    var obj = {content : content, writer : writer, articleNo : articleNo, csrf : csrf};
                    console.log(obj);
                    replyManager.add(obj, function (list) {
                        printList(list);
                        alert("새로운 댓글이 추가되었습니다.");
                        $("#newReply").summernote("code", "");
                        replyWriterObj.val("");
                    });
                }
            });

            // 댓글 수정 저장, 취소 버튼 생성
            $(document).on("click", "#modBtn", function (event) {
                event.preventDefault();
                var thisReply = $(this).parents(".reply");
                var writer = thisReply.find(".replyWriter").text();

                if (memberName == writer) {
                    var contentBody = thisReply.find(".contentBody");
                    var btnArea = thisReply.find(".btnArea");
                    contentBody.summernote({
                        focus: true,
                        lang: 'ko-KR',
                        tabsize: 2,
                        height: 150
                    });
                    var buttonStr = "<div class=\"btn-group buttons\" role=\"group\">\n" +
                        "    <button type=\"button\" class=\"btn btn-secondary btn-xs\" id=\"saveBtn\">저장</button>\n" +
                        "    <button type=\"button\" class=\"btn btn-secondary btn-xs\" id=\"cancelBtn\">취소</button>\n" +
                        "</div>";
                    btnArea.html(buttonStr);
                } else {
                    alert("댓글 작성자 본인만 수정할 수 있습니다.");
                }

            });

            // 댓글 수정 저장 처리
            $(document).on("click", "#saveBtn", function (event) {
                if (confirm("댓글을 수정 하시겠습니까")) {
                    var thisReply = $(this).parents(".reply");
                    var contentBody = thisReply.find(".contentBody");
                    var content = contentBody.summernote("code");
                    var replyNo = thisReply.find("#replyNo").val();
                    var obj = {content : content, articleNo : articleNo, replyNo : replyNo, csrf : csrf};

                    replyManager.modify(obj, function (list) {
                        printList(list);
                        alert("댓글이 수정 되었습니다.");
                    });
                }
            });

            // 댓글 수정 취소 처리
            $(document).on("click", "#cancelBtn", function (event) {
                if (confirm("댓글 수정을 취소 하시겠습니까")) {
                    replyManager.getAll([[${article.articleNo}]], printList);
                }
            });

            // 댓글 삭제 처리
            $(document).on("click", "#delBtn", function (event) {
                event.preventDefault();
                var thisReply = $(this).parents(".reply");
                var writer = thisReply.find(".replyWriter").text();

                if (memberName == writer) {
                    if (confirm("댓글 삭제하시겠습니까")) {
                        var replyNo = thisReply.find("#replyNo").val();
                        var obj = {articleNo : articleNo, replyNo : replyNo, csrf : csrf};
                        replyManager.remove(obj, function (list) {
                            printList(list);
                            alert("댓글이 삭제 되었습니다.");
                        });
                    }
                } else {
                    alert("댓글은 작성자만 삭제할 수 있습니다.")
                }

            });

        });

    </script>

</th:block>
</body>

</html>
