<!doctype html>
<html class="no-js"
      lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> BOOT DEMO 9 | REGISTER </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/images/icon/favicon.ico}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/metisMenu.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.min.css}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" th:href="@{/assets/css/typography.css}">
    <link rel="stylesheet" th:href="@{/assets/css/default-css.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    <!-- modernizr css -->
    <script th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="post">
                    <div class="login-form-head">
                        <h4><a href="/" style="color: white">DOUBLES BOOT DEMO 9</a></h4>
                        <p>회원가입 페이지</p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="memberEmail">이메일</label>
                            <input type="email" id="memberEmail" name="memberEmail">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            <i class="ti-user"></i>
                        </div>
                        <div class="form-gp">
                            <label for="memberName">이름</label>
                            <input type="text" id="memberName" name="memberName">
                            <i class="ti-email"></i>
                        </div>
                        <div class="form-gp">
                            <label for="memberPw">비밀번호</label>
                            <input type="password" id="memberPw" name="memberPw">
                            <i class="ti-lock"></i>
                        </div>
                        <div class="form-gp">
                            <label for="memberPw2">비밀번호 확인</label>
                            <input type="password" id="memberPw2">
                            <i class="ti-lock"></i>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">가입 <i class="ti-arrow-right"></i></button>
                            <div class="login-other row mt-4">
                                <div class="col-6">
                                    <a class="fb-login" href="#">페이스북 계정 가입 <i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="col-6">
                                    <a class="google-login" href="#">구글 계정 가입 <i class="fa fa-google"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">이미 회원이신가요? <a href="/member/login">로그인</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script th:src="@{/assets/js/vendor/jquery-2.2.4.min.js}"></script>
    <!-- bootstrap 4 js -->
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/metisMenu.min.js}"></script>
    <script th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>
    
    <!-- others plugins -->
    <script th:src="@{/assets/js/plugins.js}"></script>
    <script th:src="@{/assets/js/scripts.js}"></script>

</body>

</html>