<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>로그인 페이지</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body class="text-center">
<div class="card">
    <div class="card-body">
        <div class="alert alert-danger" role="alert">

            <h5>접근할 수 없는 페이지 입니다.</h5>

            <a th:href="@{/login}">로그인 페이지</a>

        </div>
    </div>
</div>
</body>
</html>