<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>Title</title>
</head>
<body>
    <table border="1" th:with="target='u0001'">
        <tr>
            <td>MID</td>
            <td>MNAME</td>
            <td>REGDATE</td>
        </tr>
        <!--삼항연산자 사용 처리-->
        <!--<tr th:each="member : ${list}">-->
            <!--<td th:text="${member.mid == target ? 'SECRET' : member.mid}"></td>-->
            <!--<td th:text="${member.mname}"></td>-->
            <!--<td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>-->
        <!--</tr>-->
        <!--IF UNLESS 사용 처리-->
        <tr th:each="member : ${list}">
            <td th:if="${member.mid}">
                <a href="/modify" th:if="${member.mid == target}">MODIFY</a>
                <p th:unless="${member.mid == target}">VIEW</p>
            </td>
            <td th:text="${member.mname}"></td>
            <td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>
</body>
</html>