<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>리스트 화면에 출력하기</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

    <h3>일반 테이블 : th:each를 통해 루프 처리</h3>
    <table border="1">
        <tr>
            <td>MID</td>
            <td>MNAME</td>
            <td>REGDATE</td>
        </tr>
        <tr th:each="member : ${list}">
            <td th:text="${member.mid}"></td>
            <td th:text="${member.mname}"></td>
            <td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>

    <hr>

    <h3>index, size, odd/even</h3>
    <table border="1">
        <tr>
            <td>INDEX</td>
            <td>SIZE</td>
            <td>ODD/EVEN</td>
            <td>MID</td>
            <td>MNAME</td>
            <td>REGDATE</td>
        </tr>
        <tr th:each="member, iterState : ${list}">  <!--iterState라는 추가 변수를 지정-->
            <td th:text="${iterState.index}"></td>  <!--인덱스 출력-->
            <td th:text="${iterState.size}"></td>   <!--사이즈 출력-->
            <td th:text="${iterState.odd + ' ' + iterState.even}"></td> <!--짝수 홀수 출력-->
            <td th:text="${member.mid}"></td>
            <td th:text="${member.mname}"></td>
            <td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>
</body>
</html>