<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf3</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

    <h3>일반 테이블</h3>
    <table border="1" th:with="target='u0001'"> <!--target변수는 테이블 태그 안에서만 유효한 지역변수-->
        <tr>
            <td>MID</td>
            <td>MNAME</td>
            <td>REGDATE</td>
        </tr>
        <tr th:each="member : ${list}">
            <td th:text="${member.mid}"></td>
            <td th:text="${member.mname}"></td>
            <td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>

    <hr>

    <h3>삼항연사자를 통해 다른 내용 출력</h3>
    <table border="1" th:with="target='u0001'"> <!--target변수는 테이블 태그 안에서만 유효한 지역변수-->
        <tr>
            <td>MID</td>
            <td>MNAME</td>
            <td>REGDATE</td>
        </tr>
        <tr th:each="member : ${list}">
            <td th:text="${member.mid == target ? 'SECRET': member.mid}"></td> <!--삼항 연산자로 u0001인 사용자만 다른내용 출력하기-->
            <td th:text="${member.mname}"></td>
            <td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>

    <hr>

    <h3>if ~ else 처리 : th:if ~unless 사용하여 다른내용 출력</h3>
    <table border="1" th:with="target='u0001'"> <!--target변수는 테이블 태그 안에서만 유효한 지역변수-->
        <tr>
            <td>MID</td>
            <td>MNAME</td>
            <td>REGDATE</td>
        </tr>
        <tr th:each="member : ${list}">
            <td th:if="${member.mid}">
                <a href="/modify" th:if="${member.mid == target}">MODIFY</a>
                <p th:unless="${member.mid == target}">VIEW</p>
            </td>
            <td th:text="${member.mname}"></td>
            <td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>
</body>
</html>