<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf3</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

    <h1>유틸리티 객체 사용하기</h1>

    <h3 th:text="${now}"></h3>

    <h3 th:text="${price}"></h3>

    <h3 th:text="${title}"></h3>

    <h3 th:text="${options}"></h3>


    <h1>날짜 관련 #dates, #calendars</h1>

    <h3 th:text="${#dates.format(now, 'yyyy-MM-dd')}"></h3>
    <div th:with="timeValue=${#dates.createToday()}">
        <p>[[${timeValue}]]</p>
    </div>

    <h1>숫자 관련 #numbers</h1>
    <h3 th:text="${#numbers.formatInteger(price, 3, 'COMMA')}"></h3>
    <div th:with="priceValue=99.87654">
        <p th:text="${#numbers.formatInteger(priceValue, 3, 'COMMA')}"></p>
        <p th:text="${#numbers.formatDecimal(priceValue, 5, 10, 'POINT')}"></p>
    </div>

    <h1>문자관련 #strings</h1>
    <h3 th:text="${title}"></h3>
    <span th:utext="${#strings.replace(title, 's', '<b>s</b>')}"></span>
    <ul>
        <li th:each="str:${#strings.listSplit(title, ' ')}">
            [[${str}]]
        </li>
    </ul>

</body>
</html>