<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf3</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

    <table border="1" th:inline="text">
        <tr>
            <td>MID</td>
            <td>MNAME</td>
            <td>REGDATE</td>
        </tr>
        <tr th:each="member : ${list}">
            <td>[[${member.mid}]]</td>
            <td>[[${member.mname}]]</td>
            <td>[[${member.regdate}]]</td>
        </tr>
    </table>

    <script th:inline="javascript">
        var result = [[${result}]]; // 자바스크립트 문자열이 제대로 생성됨
    </script>

</body>
</html>