<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf3</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

    <div th:insert="~{fragments/header::header}"></div>

    <h1>Thymeleaf 링크 처리 / 레이아웃 처리</h1>
    <ul>
        <li><a th:href="@{http://localhost/sample1}">sample1</a></li> <!--절대경로 처리-->
        <li><a th:href="@{/sample1}">sample1</a></li>  <!--현재 실행되는 컨텍스트의 경로 반영-->
        <li><a th:href="@{~/sample1}">sample1</a></li>
        <li><a th:href="@{/sample1(p1='aaa', p2='bbb')}">sample1</a></li> <!--파라미터 전달-->
    </ul>

    <div th:insert="~{fragments/footer::footer}"></div>

</body>
</html>