<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">목록 페이지</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active"><a href="/main">demo6</a></li>
                            <li class="breadcrumb-item">boards</li>
                            <li class="breadcrumb-item">list</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">게시글 목록</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" th:with="result=${result.result}">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 60px">번호</th>
                                    <th>제목</th>
                                    <th style="width: 120px">작성자</th>
                                    <th style="width: 200px">작성일자</th>
                                </tr>
                                <tr th:each="board:${result.content}">
                                    <td>[[${board.bno}]]</td>
                                    <td>[[${board.title}]]</td>
                                    <td>[[${board.writer}]]</td>
                                    <td>[[${board.regdate}]]</td>
                                </tr>
                            </table>
                            <hr>
                            <div class="form-inline">
                                <div class="input-group">
                                    <select class="form-control" id="searchType">
                                        <option>----</option>
                                        <option>제목</option>
                                        <option>내용</option>
                                        <option>작성자</option>
                                    </select>
                                    <input type="text" class="form-control" id="searchKeyword">
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" id="searchBtn">검색</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination m-0 float-right">
                                <li class="page-item" th:if="${result.prevPage}">
                                    <a class="page-link" th:href="${result.prevPage.pageNumber} + 1">이전
                                        [[${result.prevPage.pageNumber} + 1]]</a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${p.pageNumber == result.currentPageNum - 1} ? active : '' "
                                    th:each="p:${result.pageList}">
                                    <a class="page-link" th:href="${p.pageNumber} + 1">[[${p.pageNumber} + 1]]</a>
                                </li>
                                <li class="page-item" th:if="${result.nextPage}">
                                    <a class="page-link" th:href="${result.nextPage.pageNumber} + 1">다음
                                        [[${result.nextPage.pageNumber} + 1]]</a>
                                </li>
                            </ul>
                            <form id='f1' th:action="@{list}" method="get">
                                <input type='hidden' name='page' th:value=${result.currentPageNum}>
                                <input type='hidden' name='size' th:value=${result.currentPage.pageSize}>
                            </form>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->



</div>
<!-- ./wrapper -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function () {
            var formObj = $("#f1");
            $(".pagination a").click(function (e) {

                e.preventDefault();
                formObj.find('[name="page"]').val($(this).attr('href'));
                formObj.submit();
            });
        });
    </script>

</th:block>

</body>
</html>

